openapi: 3.0.1
info:
  title: DigiTax Nigeria API
  description: DigiTax Nigeria Public API
  version: '3'
  termsOfService: https://digitax.tech/page/terms
  contact:
    name: DigiTax
    url: https://digitax.tech
    email: info@digitax.tech
  license:
    name: Apache 2.0
servers:
  - url: https://api.digitax.tech/ng/v1
    description: API
paths:
  /resources/countries:
    get:
      tags:
        - Resources
      summary: Get FIRS Countries
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: A list of FIRS countries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
        default:
          $ref: '#/components/responses/Error'
  /resources/currencies:
    get:
      tags:
        - Resources
      summary: Get FIRS Currencies
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: A list of FIRS currencies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
        default:
          $ref: '#/components/responses/Error'
  /resources/tax-categories:
    get:
      tags:
        - Resources
      summary: Get FIRS Tax Categories
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: A list of FIRS tax categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaxCategory'
        default:
          $ref: '#/components/responses/Error'
  /resources/invoice-types:
    get:
      tags:
        - Resources
      summary: Get FIRS Invoice Types
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: A list of FIRS invoice types
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommonCode'
        default:
          $ref: '#/components/responses/Error'
  /resources/payment-means:
    get:
      tags:
        - Resources
      summary: Get FIRS Payment Means
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: A list of FIRS payment means
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommonCode'
        default:
          $ref: '#/components/responses/Error'
  /info:
    get:
      tags:
        - Business
      summary: Get FIRS Info
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: FIRS Info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Branch'
        default:
          $ref: '#/components/responses/Error'
  /parties:
    get:
      tags:
        - Parties
      summary: Get FIRS Parties
      security:
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A list of FIRS parties
          content:
            application/json:
              schema:
                type: object
                required:
                  - cursor
                  - data
                properties:
                  cursor:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Party'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Parties
      summary: Create Party
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tax_identification_number
                - name
                - email
                - address
              properties:
                tax_identification_number:
                  type: string
                  example: 87864516-2365
                  description: >-
                    The Taxpayer Identification Number (TIN) assigned to the
                    buyer
                email:
                  type: string
                  example: john@doe.com
                  description: >-
                    The buyer's official email address used for communication
                    regarding invoices and tax compliance
                name:
                  type: string
                  example: John Doe
                  description: >-
                    The registered name of the buyer receiving the invoice. This
                    is the official business or individual name
                phone:
                  type: string
                  example: '+2341234567890'
                  description: >-
                    The buyer's contact number with the country code prefix
                    (+234 for Nigeria)
                address:
                  $ref: '#/components/schemas/Address'
      responses:
        '201':
          description: Party created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Party'
        default:
          $ref: '#/components/responses/Error'
  /parties/{party_id}:
    get:
      tags:
        - Parties
      summary: Get a business party
      description: Retrieves information about a party given their ID on DigiTax
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: party_id
          required: true
          schema:
            type: string
            description: Party ID on DigiTax
            example: party_01JWB8QHB4C1Q437MXCPR0XAZW
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Party'
        default:
          $ref: '#/components/responses/Error'
  /items:
    get:
      tags:
        - Items
      summary: Get FIRS Items
      security:
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A list of FIRS items
          content:
            application/json:
              schema:
                type: object
                required:
                  - cursor
                  - data
                properties:
                  cursor:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Item'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Items
      summary: Create Item
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tax_category_code
                - product_category
                - item_name
                - hsn_code
                - unit_price
                - currency_code
                - description
              properties:
                tax_category_code:
                  type: string
                  example: STANDARD_VAT
                  description: >-
                    The code for the tax category the item belongs to. It must
                    be one of the tax categories defined in the resources API
                product_category:
                  type: string
                  example: Food and Beverage Products
                  description: >-
                    The category the product belongs to. You can use the United
                    Nations Standard Products and Services Code (UNSPSC) as a
                    guide
                item_name:
                  type: string
                  example: Digitax Product 001
                  description: The name of the good or service being sold
                hsn_code:
                  type: string
                  example: '2847.00'
                  description: >-
                    The Harmonized System of Nomenclature (HSN) Code for the
                    product. <a
                    href="https://ng.docs.digitax.tech/reference/reference-hs-hsn-code-files#/">HSN
                    Reference</a>
                unit_price:
                  type: number
                  format: double
                  example: 10000
                  minimum: 0
                  description: The cost of a single unit of the item
                currency_code:
                  type: string
                  example: NGN
                  description: The currency in which the item is priced
                description:
                  type: string
                  example: Sample item description
                  description: A brief description of the item
                display_name:
                  type: string
                  example: Digitax Product 001
                  description: The name of the good or service being sold
                price_unit:
                  type: string
                  example: NGN per 1
                  description: The unit of measurement for the price of the item
                item_code:
                  type: string
                  example: '8000020107057'
                  description: >-
                    A unique product code assigned to the item in the user's
                    system. It will be used as the unique product identifier
      responses:
        '201':
          description: Item created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        default:
          $ref: '#/components/responses/Error'
  /items/{item_id}:
    get:
      tags:
        - Items
      summary: Get a business item
      description: Retrieves information about an item given their ID on DigiTax
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: item_id
          required: true
          schema:
            type: string
            description: Item ID on DigiTax
            example: item_01JWBBCVSHK3ZQAVNPW2MPSQXS
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        default:
          $ref: '#/components/responses/Error'
  /invoices:
    get:
      tags:
        - Invoices
      summary: Get FIRS Invoices
      security:
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A list of FIRS invoices
          content:
            application/json:
              schema:
                type: object
                required:
                  - cursor
                  - data
                properties:
                  cursor:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Invoices
      summary: Create Invoice
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - invoice_date
                - issue_date
                - invoice_type_code
                - document_currency_code
                - items
                - trader_invoice_number
              properties:
                party_id:
                  type: string
                  example: party_01JWB8QHB4C1Q437MXCPR0XAZW
                  description: The buyer or recipient of the goods or services
                payee_party_id:
                  type: string
                  example: party_01JWB8QHB4C1Q437MXCPR0XAZW
                  description: >-
                    If the payment goes to someone else, this field captures
                    that party's ID on DigiTax
                bill_party_id:
                  type: string
                  example: party_01JWB8QHB4C1Q437MXCPR0XAZW
                  description: >-
                    If the payment goes to someone else, this field captures
                    that party's ID on DigiTax
                ship_party_id:
                  type: string
                  example: party_01JWB8QHB4C1Q437MXCPR0XAZW
                  description: >-
                    If the payment goes to someone else, this field captures
                    that party's ID on DigiTax
                tax_representative_party_id:
                  type: string
                  example: party_01JWB8QHB4C1Q437MXCPR0XAZW
                  description: >-
                    The party ID of the tax agent handling invoicing and
                    compliance for the business if there is one
                invoice_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which the invoice was created in the format
                    YYYY-MM-DD
                issue_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which this invoice was issued in the format
                    YYYY-MM-DD
                issue_time:
                  type: string
                  format: time
                  example: '14:30:00'
                  description: >-
                    The time at which this invoice was issued in the format
                    HH:MM:SS
                invoice_type_code:
                  type: string
                  example: '381'
                  description: A code that specifies the type of invoice being issued
                tax_point_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The actual date when the tax becomes applicable in the
                    format YYYY-MM-DD
                document_currency_code:
                  type: string
                  example: NGN
                  description: >-
                    A code that specifies the default currency in which the
                    invoice is issued
                buyer_reference:
                  type: string
                  example: '#INV-001'
                  description: >-
                    A reference number or code provided by the buyer to track
                    the invoice
                trader_invoice_number:
                  type: string
                  example: '2453618203'
                  description: >-
                    An invoice number assigned by the supplier to uniquely
                    identify the invoice in their system
                accounting_cost:
                  type: string
                  example: 2000 NGN
                  description: >-
                    Represents the accounting category or cost center assigned
                    to the transaction
                payment_terms_note:
                  type: string
                  example: Payment due within 30 days of invoice issue
                  description: Describes the terms and conditions of payment
                invoice_delivery_period:
                  $ref: '#/components/schemas/DeliveryPeriod'
                  description: >-
                    Defines the start and end dates for when goods or services
                    were delivered. This helps track multi-day deliveries on a
                    single invoice
                payment_means:
                  type: array
                  description: Defines how the invoice will be paid and when payment is due
                  items:
                    $ref: '#/components/schemas/PaymentMeans'
                allowance_charge:
                  type: array
                  description: Defines any discounts (allowance) or extra charges (charge)
                  items:
                    $ref: '#/components/schemas/AllowanceCharge'
                billing_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    Links the invoice to a previous billing document (e.g.,
                    credit note, debit note, or a prior invoice)
                dispatch_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    An optional identifier of a referenced dispatch advice.
                    Refers to the document used to track the dispatch of goods
                receipt_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to a receipt advice associated with an invoice.
                    Links the invoice to a receipt document
                originator_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to an originator document associated with an
                    invoice. Identifies the original document that initiated the
                    invoice
                contract_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to a contract associated with an invoice. Links
                    the invoice to a contract governing the transaction
                additional_document_reference:
                  type: array
                  description: >-
                    A reference to additional documents associated with an
                    invoice. Used as a general reference field for any related
                    documents
                  items:
                    $ref: '#/components/schemas/InvoiceDocumentReference'
                due_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which the invoice is due for payment in the
                    format YYYY-MM-DD
                notes:
                  type: string
                  example: Sample invoice notes
                  description: >-
                    Additional invoice information that is not contained
                    explicitly in other structures
                callback_url:
                  type: string
                  format: uri
                  example: https://example.com/callback
                  description: >-
                    The URL to call when we have new information about the
                    invoice, when the invoice is signed successfully or
                    validation has failed
                items:
                  type: array
                  description: >-
                    A list that captures details about each good or service
                    being invoiced
                  items:
                    type: object
                    required:
                      - item_id
                      - quantity
                      - unit_price
                      - tax_rate
                    properties:
                      item_id:
                        type: string
                        example: item_01JWBBCVSHK3ZQAVNPW2MPSQXS
                        description: >-
                          The ID of the item being sold, as it appears on
                          DigiTax
                      quantity:
                        type: number
                        format: double
                        example: 1
                        minimum: 0
                        description: The total number of items sold in the invoice line
                      unit_price:
                        type: number
                        format: double
                        example: 10000
                        minimum: 0
                        description: The unit price of this line item before tax
                      discount_rate:
                        type: number
                        format: double
                        example: 0.05
                        minimum: 0
                        maximum: 1
                        description: >-
                          The discount rate applied to the item. It must be a
                          value between 0 and 1, where 0 means no discount and 1
                          means a 100% discount on the price
                      fee_rate:
                        type: number
                        format: double
                        example: 0.02
                        minimum: 0
                        maximum: 1
                        description: >-
                          The rate of any additional fees (e.g. service charge,
                          delivery fee).  It must be a value between 0 and 1,
                          where 0 means no fee and 1 means a 100% fee on the
                          price
                      tax_rate:
                        type: number
                        format: double
                        example: 0.075
                        minimum: 0
                        maximum: 1
                        description: >-
                          The tax rate applied to the item. It must be a value
                          between 0 and 1. For tax category codes that already
                          have a defined tax rate, this value must match the tax
                          category's tax rate
                      item_description:
                        type: string
                        example: Sample item description
                        description: A brief description of the item being sold
      responses:
        '201':
          description: Invoice created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Error'
  /credit-notes:
    get:
      tags:
        - Invoices
      summary: Get FIRS Credit Notes
      security:
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A list of FIRS credit notes
          content:
            application/json:
              schema:
                type: object
                required:
                  - cursor
                  - data
                properties:
                  cursor:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Invoices
      summary: Create Credit Note
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - return_date
                - issue_date
                - document_currency_code
                - items
                - invoice_id
                - trader_invoice_number
              properties:
                return_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which this credit note was created in the format
                    YYYY-MM-DD
                issue_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which this credit note was issued in the format
                    YYYY-MM-DD
                issue_time:
                  type: string
                  format: time
                  example: '14:30:00'
                  description: >-
                    The time at which this credit note was issued in the format
                    HH:MM:SS
                tax_point_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The actual date when the tax becomes applicable in the
                    format YYYY-MM-DD
                document_currency_code:
                  type: string
                  example: NGN
                  description: >-
                    A code that specifies the default currency in which the
                    credit note is issued
                buyer_reference:
                  type: string
                  example: '#CN-001'
                  description: >-
                    A reference number or code provided by the buyer to track
                    the credit note
                trader_invoice_number:
                  type: string
                  example: '2453618203'
                  description: >-
                    An invoice number assigned by the supplier to uniquely
                    identify the credit note in their system
                invoice_id:
                  type: string
                  example: invoice_01JWR2VH5B3FC4JRXNJDQZCVE6
                  description: The DigiTax ID of the invoice that is being credited
                accounting_cost:
                  type: string
                  example: 2000 NGN
                  description: >-
                    Represents the accounting category or cost center assigned
                    to the transaction
                payment_terms_note:
                  type: string
                  example: Payment due within 30 days of invoice issue
                  description: Describes the terms and conditions of payment
                invoice_delivery_period:
                  $ref: '#/components/schemas/DeliveryPeriod'
                  description: >-
                    Defines the start and end dates for when goods or services
                    were delivered. This helps track multi-day deliveries on a
                    single invoice
                payment_means:
                  type: array
                  description: Defines how the invoice will be paid and when payment is due
                  items:
                    $ref: '#/components/schemas/PaymentMeans'
                allowance_charge:
                  type: array
                  description: Defines any discounts (allowance) or extra charges (charge)
                  items:
                    $ref: '#/components/schemas/AllowanceCharge'
                dispatch_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    An optional identifier of a referenced dispatch advice.
                    Refers to the document used to track the dispatch of goods
                receipt_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to a receipt advice associated with a credit
                    note. Links the credit note to a receipt document
                originator_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to an originator document associated with a
                    credit note. Identifies the original document that initiated
                    the credit note
                contract_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to a contract associated with a credit note.
                    Links the credit note to a contract governing the
                    transaction
                additional_document_reference:
                  type: array
                  description: >-
                    A reference to additional documents associated with an
                    invoice. Used as a general reference field for any related
                    documents
                  items:
                    $ref: '#/components/schemas/InvoiceDocumentReference'
                due_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which the credit note is due for payment in the
                    format YYYY-MM-DD
                notes:
                  type: string
                  example: Sample credit note notes
                  description: >-
                    Additional credit note information that is not contained
                    explicitly in other structures
                callback_url:
                  type: string
                  format: uri
                  example: https://example.com/callback
                  description: >-
                    The URL to call when we have new information about the
                    credit note, when the credit note is signed successfully or
                    validation has failed
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - item_id
                      - quantity
                      - unit_price
                      - tax_rate
                    properties:
                      item_id:
                        type: string
                        example: item_01JWBBCVSHK3ZQAVNPW2MPSQXS
                        description: >-
                          The ID of the item being sold, as it appears on
                          DigiTax. It must be one of the items sold in the
                          original invoice
                      quantity:
                        type: number
                        format: double
                        example: 1
                        minimum: 0
                        description: The total number of items being credited
                      unit_price:
                        type: number
                        format: double
                        example: 10000
                        minimum: 0
                        description: The unit price of this line item before tax
                      discount_rate:
                        type: number
                        format: double
                        example: 0.05
                        minimum: 0
                        maximum: 1
                        description: >-
                          The discount rate applied to the item. It must be a
                          value between 0 and 1, where 0 means no discount and 1
                          means a 100% discount on the price
                      fee_rate:
                        type: number
                        format: double
                        example: 0.02
                        minimum: 0
                        maximum: 1
                        description: >-
                          The rate of any additional fees (e.g. service charge,
                          delivery fee).  It must be a value between 0 and 1,
                          where 0 means no fee and 1 means a 100% fee on the
                          price
                      tax_rate:
                        type: number
                        format: double
                        example: 0.075
                        minimum: 0
                        maximum: 1
                        description: >-
                          The tax rate applied to the item. It must be a value
                          between 0 and 1. For tax category codes that already
                          have a defined tax rate, this value must match the tax
                          category's tax rate
                      item_description:
                        type: string
                        example: Sample item description
                        description: A brief description of the item being sold
      responses:
        '201':
          description: Credit note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Error'
  /debit-notes:
    get:
      tags:
        - Invoices
      summary: Get FIRS Debit Notes
      security:
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A list of FIRS debit notes
          content:
            application/json:
              schema:
                type: object
                required:
                  - cursor
                  - data
                properties:
                  cursor:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Invoices
      summary: Create Debit Note
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - debit_date
                - issue_date
                - document_currency_code
                - items
                - invoice_id
                - trader_invoice_number
              properties:
                debit_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which this debit note was created in the format
                    YYYY-MM-DD
                issue_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which this debit note was issued in the format
                    YYYY-MM-DD
                issue_time:
                  type: string
                  format: time
                  example: '14:30:00'
                  description: >-
                    The time at which this debit note was issued in the format
                    HH:MM:SS
                tax_point_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The actual date when the tax becomes applicable in the
                    format YYYY-MM-DD
                document_currency_code:
                  type: string
                  example: NGN
                  description: >-
                    A code that specifies the default currency in which the
                    debit note is issued
                buyer_reference:
                  type: string
                  example: '#DN-001'
                  description: >-
                    A reference number or code provided by the buyer to track
                    the debit note
                trader_invoice_number:
                  type: string
                  example: '2453618203'
                  description: >-
                    An invoice number assigned by the supplier to uniquely
                    identify the debit note in their system
                invoice_id:
                  type: string
                  example: invoice_01JWR2VH5B3FC4JRXNJDQZCVE6
                  description: The DigiTax ID of the invoice that is being debited
                accounting_cost:
                  type: string
                  example: 2000 NGN
                  description: >-
                    Represents the accounting category or cost center assigned
                    to the transaction
                payment_terms_note:
                  type: string
                  example: Payment due within 30 days of invoice issue
                  description: Describes the terms and conditions of payment
                invoice_delivery_period:
                  $ref: '#/components/schemas/DeliveryPeriod'
                  description: >-
                    Defines the start and end dates for when goods or services
                    were delivered. This helps track multi-day deliveries on a
                    single invoice
                payment_means:
                  type: array
                  description: Defines how the invoice will be paid and when payment is due
                  items:
                    $ref: '#/components/schemas/PaymentMeans'
                allowance_charge:
                  type: array
                  description: Defines any discounts (allowance) or extra charges (charge)
                  items:
                    $ref: '#/components/schemas/AllowanceCharge'
                dispatch_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    An optional identifier of a referenced dispatch advice.
                    Refers to the document used to track the dispatch of goods
                receipt_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to a receipt advice associated with a debit
                    note. Links the debit note to a receipt document
                originator_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to an originator document associated with a
                    debit note. Identifies the original document that initiated
                    the debit note
                contract_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to a contract associated with a debit note.
                    Links the debit note to a contract governing the transaction
                additional_document_reference:
                  type: array
                  description: >-
                    A reference to additional documents associated with the
                    debit note. Used as a general reference field for any
                    related documents
                  items:
                    $ref: '#/components/schemas/InvoiceDocumentReference'
                due_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which the debit note is due for payment in the
                    format YYYY-MM-DD
                notes:
                  type: string
                  example: Sample debit note notes
                  description: >-
                    Additional debit note information that is not contained
                    explicitly in other structures
                callback_url:
                  type: string
                  format: uri
                  example: https://example.com/callback
                  description: >-
                    The URL to call when we have new information about the debit
                    note, when the invoice is signed successfully or validation
                    has failed
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - item_id
                      - quantity
                      - unit_price
                      - tax_rate
                    properties:
                      item_id:
                        type: string
                        example: item_01JWBBCVSHK3ZQAVNPW2MPSQXS
                        description: >-
                          The ID of the item being sold, as it appears on
                          DigiTax. It must be one of the items sold in the
                          original invoice
                      quantity:
                        type: number
                        format: double
                        example: 1
                        minimum: 0
                        description: The total number of items being debited
                      unit_price:
                        type: number
                        format: double
                        example: 10000
                        minimum: 0
                        description: The unit price of this line item before tax
                      discount_rate:
                        type: number
                        format: double
                        example: 0.05
                        minimum: 0
                        maximum: 1
                        description: >-
                          The discount rate applied to the item. It must be a
                          value between 0 and 1, where 0 means no discount and 1
                          means a 100% discount
                      fee_rate:
                        type: number
                        format: double
                        example: 0.02
                        minimum: 0
                        maximum: 1
                        description: >-
                          The rate of any additional fees (e.g. service charge,
                          delivery fee).  It must be a value between 0 and 1,
                          where 0 means no fee and 1 means a 100% fee on the
                          price
                      tax_rate:
                        type: number
                        format: double
                        example: 0.075
                        minimum: 0
                        maximum: 1
                        description: >-
                          The tax rate applied to the item. It must be a value
                          between 0 and 1. For tax category codes that already
                          have a defined tax rate, this value must match the tax
                          category's tax rate
                      item_description:
                        type: string
                        example: Sample item description
                        description: A brief description of the item being sold
      responses:
        '201':
          description: Debit note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Error'
  /invoices/{invoice_id}:
    get:
      tags:
        - Invoices
      summary: Get a business invoice
      description: >-
        Retrieves information about an invoice, credit note or debit note given
        their ID on DigiTax
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: invoice_id
          required: true
          schema:
            type: string
            description: Invoice ID on DigiTax
            example: invoice_01JWR2VH5B3FC4JRXNJDQZCVE6
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Error'
  /invoices/{invoice_id}/payment-status:
    put:
      tags:
        - Invoices
      summary: Update an invoice payment status
      description: Update an invoice payment status
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: invoice_id
          required: true
          schema:
            type: string
            description: Invoice ID on DigiTax
            example: invoice_01JWR2VH5B3FC4JRXNJDQZCVE6
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - payment_status
              properties:
                payment_status:
                  type: string
                  enum:
                    - REJECTED
                    - PAID
                  example: REJECTED
                  description: The payment status of the invoice
                reference:
                  type: string
                  example: PY012001
                  description: The reference number of the payment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Error'
  /invoices/irn/{invoice_reference_number}:
    get:
      tags:
        - Invoices
      summary: Get a business invoice by the invoice reference number
      description: >-
        Retrieves information about an invoice, credit note or debit note given
        their invoice reference number on DigiTax
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: invoice_reference_number
          required: true
          schema:
            type: string
            description: Invoice Reference Number
            example: 2226499116NGE7G-E3A89069-20250601
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Error'
  /detailed-invoices:
    post:
      tags:
        - Invoices
      summary: Create invoice with the party and items information
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - issue_date
                - invoice_type_code
                - document_currency_code
                - items
                - trader_invoice_number
              properties:
                party_tin:
                  type: string
                  example: 08289985-9145
                  description: >-
                    The tax identification number of the buyer of the goods or
                    services
                party_name:
                  type: string
                  example: Namiri Technology
                  description: >-
                    The taxpayer name of the buyer of the goods or services. It
                    must be provided for invoices that have the party_tin
                    provided
                party_email:
                  type: string
                  example: firs-invoices@namiri.tech
                  description: >-
                    The email address of the buyer of the goods or services. If
                    it is not provided and the party_tin is provided, we will
                    use firs-invoices@namiri.tech as the party's email address
                party_address:
                  $ref: '#/components/schemas/Address'
                  description: >-
                    The address of the buyer of the goods or services. If not
                    provided and the party_tin is provided, we will use a
                    default address
                payee_party_tin:
                  type: string
                  example: 08289985-9145
                  description: >-
                    The tax identification number of the party to whom the
                    payment goes to; if it goes to someone else
                payee_party_name:
                  type: string
                  example: Namiri Technology
                  description: >-
                    The taxpayer name of the party to whom the payment goes to;
                    if it goes to someone else. It must be provided for invoices
                    that have the payee_party_tin provided
                payee_party_email:
                  type: string
                  example: firs-invoices@namiri.tech
                  description: >-
                    The email address of the party to whom the payment goes to;
                    if it goes to someone else. If it is not provided and the
                    payee_party_tin is provided, we will use
                    firs-invoices@namiri.tech as the party's email address
                payee_party_address:
                  $ref: '#/components/schemas/Address'
                  description: >-
                    The address of the party to whom the payment goes to; if it
                    goes to someone else. If not provided and the
                    payee_party_tin is provided, we will use a default address
                bill_party_tin:
                  type: string
                  example: 08289985-9145
                  description: >-
                    The tax identification number of the party to whom the
                    payment goes to; if it goes to someone else
                bill_party_name:
                  type: string
                  example: Namiri Technology
                  description: >-
                    The taxpayer name of the party to whom the payment goes to;
                    if it goes to someone else. It must be provided for invoices
                    that have the bill_party_tin provided
                bill_party_email:
                  type: string
                  example: firs-invoices@namiri.tech
                  description: >-
                    The email address of the party to whom the payment goes to;
                    if it goes to someone else. If it is not provided and the
                    bill_party_tin is provided, we will use
                    firs-invoices@namiri.tech as the party's email address
                bill_party_address:
                  $ref: '#/components/schemas/Address'
                  description: >-
                    The address of the party to whom the payment goes to; if it
                    goes to someone else. If not provided and the bill_party_tin
                    is provided, we will use a default address
                ship_party_tin:
                  type: string
                  example: 08289985-9145
                  description: >-
                    The tax identification number of the party to whom the
                    payment goes to; if it goes to someone else
                ship_party_name:
                  type: string
                  example: Namiri Technology
                  description: >-
                    The taxpayer name of the party to whom the payment goes to;
                    if it goes to someone else. It must be provided for invoices
                    that have the ship_party_tin provided
                ship_party_email:
                  type: string
                  example: firs-invoices@namiri.tech
                  description: >-
                    The email address of the party to whom the payment goes to;
                    if it goes to someone else. If it is not provided and the
                    ship_party_tin is provided, we will use
                    firs-invoices@namiri.tech as the party's email address
                ship_party_address:
                  $ref: '#/components/schemas/Address'
                  description: >-
                    The address of the party to whom the payment goes to; if it
                    goes to someone else. If not provided and the ship_party_tin
                    is provided, we will use a default address
                tax_representative_party_tin:
                  type: string
                  example: 08289985-9145
                  description: >-
                    The tax identification number of the tax agent handling
                    invoicing and compliance for the business if there is one
                tax_representative_party_name:
                  type: string
                  example: Namiri Technology
                  description: >-
                    The taxpayer name of the tax agent handling invoicing and
                    compliance for the business. It must be provided for
                    invoices that have the tax_representative_party_tin provided
                tax_representative_party_email:
                  type: string
                  example: firs-invoices@namiri.tech
                  description: >-
                    The email address of the tax agent handling invoicing and
                    compliance for the business. If it is not provided and the
                    tax_representative_party_tin is provided, we will use
                    firs-invoices@namiri.tech as the party's email address
                tax_representative_party_address:
                  $ref: '#/components/schemas/Address'
                  description: >-
                    The address of the tax agent handling invoicing and
                    compliance for the business. If not provided and the
                    tax_representative_party_tin is provided, we will use a
                    default address
                issue_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which this invoice was issued in the format
                    YYYY-MM-DD
                issue_time:
                  type: string
                  format: time
                  example: '14:30:00'
                  description: >-
                    The time at which this invoice was issued in the format
                    HH:MM:SS
                invoice_type_code:
                  type: string
                  example: '381'
                  description: A code that specifies the type of invoice being issued
                tax_point_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The actual date when the tax becomes applicable in the
                    format YYYY-MM-DD
                document_currency_code:
                  type: string
                  example: NGN
                  description: >-
                    A code that specifies the default currency in which the
                    invoice is issued
                buyer_reference:
                  type: string
                  example: '#INV-001'
                  description: >-
                    A reference number or code provided by the buyer to track
                    the invoice
                trader_invoice_number:
                  type: string
                  example: '2453618203'
                  description: >-
                    An invoice number assigned by the supplier to uniquely
                    identify the invoice in their system
                accounting_cost:
                  type: string
                  example: 2000 NGN
                  description: >-
                    Represents the accounting category or cost center assigned
                    to the transaction
                payment_terms_note:
                  type: string
                  example: Payment due within 30 days of invoice issue
                  description: Describes the terms and conditions of payment
                invoice_delivery_period:
                  $ref: '#/components/schemas/DeliveryPeriod'
                  description: >-
                    Defines the start and end dates for when goods or services
                    were delivered. This helps track multi-day deliveries on a
                    single invoice
                payment_means:
                  type: array
                  description: Defines how the invoice will be paid and when payment is due
                  items:
                    $ref: '#/components/schemas/PaymentMeans'
                allowance_charge:
                  type: array
                  description: Defines any discounts (allowance) or extra charges (charge)
                  items:
                    $ref: '#/components/schemas/AllowanceCharge'
                billing_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    Links the invoice to a previous billing document (e.g.,
                    credit note, debit note, or a prior invoice)
                dispatch_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    An optional identifier of a referenced dispatch advice.
                    Refers to the document used to track the dispatch of goods
                receipt_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to a receipt advice associated with an invoice.
                    Links the invoice to a receipt document
                originator_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to an originator document associated with an
                    invoice. Identifies the original document that initiated the
                    invoice
                contract_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to a contract associated with an invoice. Links
                    the invoice to a contract governing the transaction
                additional_document_reference:
                  type: array
                  description: >-
                    A reference to additional documents associated with an
                    invoice. Used as a general reference field for any related
                    documents
                  items:
                    $ref: '#/components/schemas/InvoiceDocumentReference'
                due_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which the invoice is due for payment in the
                    format YYYY-MM-DD
                notes:
                  type: string
                  example: Sample invoice notes
                  description: >-
                    Additional invoice information that is not contained
                    explicitly in other structures
                callback_url:
                  type: string
                  format: uri
                  example: https://example.com/callback
                  description: >-
                    The URL to call when we have new information about the
                    invoice, when the invoice is signed successfully or
                    validation has failed
                items:
                  type: array
                  description: >-
                    A list that captures details about each good or service
                    being invoiced
                  items:
                    type: object
                    required:
                      - item_code
                      - quantity
                      - unit_price
                      - tax_rate
                      - tax_category_code
                      - product_category
                      - item_name
                      - hsn_code
                      - item_description
                    properties:
                      item_code:
                        type: string
                        example: '8000020107057'
                        description: >-
                          A unique product code assigned to the item in the
                          user's system. It will be used as the unique product
                          identifier
                      tax_category_code:
                        type: string
                        example: STANDARD_VAT
                        description: >-
                          The code for the tax category the item belongs to. It
                          must be one of the tax categories defined in the
                          resources API
                      product_category:
                        type: string
                        example: Food and Beverage Products
                        description: >-
                          The category the product belongs to. You can use the
                          United Nations Standard Products and Services Code
                          (UNSPSC) as a guide
                      item_name:
                        type: string
                        example: Digitax Product 001
                        description: The name of the good or service being sold
                      hsn_code:
                        type: string
                        example: '2847.00'
                        description: >-
                          The Harmonized System of Nomenclature (HSN) Code for
                          the product. <a
                          href="https://ng.docs.digitax.tech/reference/reference-hs-hsn-code-files#/">HSN
                          Reference</a>
                      item_description:
                        type: string
                        example: Sample item description
                        description: A brief description of the item
                      quantity:
                        type: number
                        format: double
                        example: 1
                        minimum: 0
                        description: The total number of items sold in the invoice line
                      unit_price:
                        type: number
                        format: double
                        example: 10000
                        minimum: 0
                        description: The unit price of this line item before tax
                      discount_rate:
                        type: number
                        format: double
                        example: 0.05
                        minimum: 0
                        maximum: 1
                        description: >-
                          The discount rate applied to the item. It must be a
                          value between 0 and 1, where 0 means no discount and 1
                          means a 100% discount on the price
                      fee_rate:
                        type: number
                        format: double
                        example: 0.02
                        minimum: 0
                        maximum: 1
                        description: >-
                          The rate of any additional fees (e.g. service charge,
                          delivery fee).  It must be a value between 0 and 1,
                          where 0 means no fee and 1 means a 100% fee on the
                          price
                      tax_rate:
                        type: number
                        format: double
                        example: 0.075
                        minimum: 0
                        maximum: 1
                        description: >-
                          The tax rate applied to the item. It must be a value
                          between 0 and 1. For tax category codes that already
                          have a defined tax rate, this value must match the tax
                          category's tax rate
                      taxable_amount:
                        type: number
                        format: double
                        example: 9700
                        minimum: 0
                        description: >-
                          The amount on which tax is calculated. It must be
                          equal to the line extension amount (unit price *
                          quantity) plus fees minus discounts. This value will
                          be ignored unless the business has the permission to
                          calculate tax
                      tax_amount:
                        type: number
                        format: double
                        example: 727.5
                        minimum: 0
                        description: >-
                          The tax amount for this line item. It must be equal to
                          the taxable amount multiplied by the tax rate. This
                          value will be ignored unless the business has the
                          permission to calculate tax
      responses:
        '201':
          description: Invoice created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Error'
  /credit-notes-with-item-codes:
    post:
      tags:
        - Invoices
      summary: Create credit note with the item code in place of the item ID
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - return_date
                - issue_date
                - document_currency_code
                - items
                - invoice_id
                - trader_invoice_number
              properties:
                return_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which this credit note was created in the format
                    YYYY-MM-DD
                issue_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which this credit note was issued in the format
                    YYYY-MM-DD
                issue_time:
                  type: string
                  format: time
                  example: '14:30:00'
                  description: >-
                    The time at which this credit note was issued in the format
                    HH:MM:SS
                tax_point_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The actual date when the tax becomes applicable in the
                    format YYYY-MM-DD
                document_currency_code:
                  type: string
                  example: NGN
                  description: >-
                    A code that specifies the default currency in which the
                    credit note is issued
                buyer_reference:
                  type: string
                  example: '#CN-001'
                  description: >-
                    A reference number or code provided by the buyer to track
                    the credit note
                trader_invoice_number:
                  type: string
                  example: '2453618203'
                  description: >-
                    An invoice number assigned by the supplier to uniquely
                    identify the credit note in their system
                invoice_id:
                  type: string
                  example: invoice_01JWR2VH5B3FC4JRXNJDQZCVE6
                  description: The DigiTax ID of the invoice that is being credited
                accounting_cost:
                  type: string
                  example: 2000 NGN
                  description: >-
                    Represents the accounting category or cost center assigned
                    to the transaction
                payment_terms_note:
                  type: string
                  example: Payment due within 30 days of invoice issue
                  description: Describes the terms and conditions of payment
                invoice_delivery_period:
                  $ref: '#/components/schemas/DeliveryPeriod'
                  description: >-
                    Defines the start and end dates for when goods or services
                    were delivered. This helps track multi-day deliveries on a
                    single invoice
                payment_means:
                  type: array
                  description: Defines how the invoice will be paid and when payment is due
                  items:
                    $ref: '#/components/schemas/PaymentMeans'
                allowance_charge:
                  type: array
                  description: Defines any discounts (allowance) or extra charges (charge)
                  items:
                    $ref: '#/components/schemas/AllowanceCharge'
                dispatch_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    An optional identifier of a referenced dispatch advice.
                    Refers to the document used to track the dispatch of goods
                receipt_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to a receipt advice associated with a credit
                    note. Links the credit note to a receipt document
                originator_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to an originator document associated with a
                    credit note. Identifies the original document that initiated
                    the credit note
                contract_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to a contract associated with a credit note.
                    Links the credit note to a contract governing the
                    transaction
                additional_document_reference:
                  type: array
                  description: >-
                    A reference to additional documents associated with the
                    credit note. Used as a general reference field for any
                    related documents
                  items:
                    $ref: '#/components/schemas/InvoiceDocumentReference'
                due_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which the credit note is due for payment in the
                    format YYYY-MM-DD
                notes:
                  type: string
                  example: Sample credit note notes
                  description: >-
                    Additional credit note information that is not contained
                    explicitly in other structures
                callback_url:
                  type: string
                  format: uri
                  example: https://example.com/callback
                  description: >-
                    The URL to call when we have new information about the
                    credit note, when the credit note is signed successfully or
                    validation has failed
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - item_code
                      - quantity
                      - unit_price
                      - tax_rate
                    properties:
                      item_code:
                        type: string
                        example: '8000020107057'
                        description: >-
                          A unique product code assigned to the item in the
                          user's system. It will be used as the unique product
                          identifier
                      quantity:
                        type: number
                        format: double
                        example: 1
                        minimum: 0
                        description: The total number of items being credited
                      unit_price:
                        type: number
                        format: double
                        example: 10000
                        minimum: 0
                        description: The unit price of this line item before tax
                      discount_rate:
                        type: number
                        format: double
                        example: 0.05
                        minimum: 0
                        maximum: 1
                        description: >-
                          The discount rate applied to the item. It must be a
                          value between 0 and 1, where 0 means no discount and 1
                          means a 100% discount on the price
                      fee_rate:
                        type: number
                        format: double
                        example: 0.02
                        minimum: 0
                        maximum: 1
                        description: >-
                          The rate of any additional fees (e.g. service charge,
                          delivery fee).  It must be a value between 0 and 1,
                          where 0 means no fee and 1 means a 100% fee on the
                          price
                      tax_rate:
                        type: number
                        format: double
                        example: 0.075
                        minimum: 0
                        maximum: 1
                        description: >-
                          The tax rate applied to the item. It must be a value
                          between 0 and 1. For tax category codes that already
                          have a defined tax rate, this value must match the tax
                          category's tax rate
                      taxable_amount:
                        type: number
                        format: double
                        example: 9700
                        minimum: 0
                        description: >-
                          The amount on which tax is calculated. It must be
                          equal to the line extension amount (unit price *
                          quantity) plus fees minus discounts. This value will
                          be ignored unless the business has the permission to
                          calculate tax
                      tax_amount:
                        type: number
                        format: double
                        example: 727.5
                        minimum: 0
                        description: >-
                          The tax amount for this line item. It must be equal to
                          the taxable amount multiplied by the tax rate. This
                          value will be ignored unless the business has the
                          permission to calculate tax
                      item_description:
                        type: string
                        example: Sample item description
                        description: A brief description of the item being sold
      responses:
        '201':
          description: Credit note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Error'
  /debit-notes-with-item-codes:
    post:
      tags:
        - Invoices
      summary: Create debit note with the item code in place of the item ID
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - debit_date
                - issue_date
                - document_currency_code
                - items
                - invoice_id
                - trader_invoice_number
              properties:
                debit_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which this debit note was created in the format
                    YYYY-MM-DD
                issue_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which this debit note was issued in the format
                    YYYY-MM-DD
                issue_time:
                  type: string
                  format: time
                  example: '14:30:00'
                  description: >-
                    The time at which this debit note was issued in the format
                    HH:MM:SS
                tax_point_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The actual date when the tax becomes applicable in the
                    format YYYY-MM-DD
                document_currency_code:
                  type: string
                  example: NGN
                  description: >-
                    A code that specifies the default currency in which the
                    debit note is issued
                buyer_reference:
                  type: string
                  example: '#DN-001'
                  description: >-
                    A reference number or code provided by the buyer to track
                    the debit note
                trader_invoice_number:
                  type: string
                  example: '2453618203'
                  description: >-
                    An invoice number assigned by the supplier to uniquely
                    identify the debit note in their system
                invoice_id:
                  type: string
                  example: invoice_01JWR2VH5B3FC4JRXNJDQZCVE6
                  description: The DigiTax ID of the invoice that is being debited
                accounting_cost:
                  type: string
                  example: 2000 NGN
                  description: >-
                    Represents the accounting category or cost center assigned
                    to the transaction
                payment_terms_note:
                  type: string
                  example: Payment due within 30 days of invoice issue
                  description: Describes the terms and conditions of payment
                invoice_delivery_period:
                  $ref: '#/components/schemas/DeliveryPeriod'
                  description: >-
                    Defines the start and end dates for when goods or services
                    were delivered. This helps track multi-day deliveries on a
                    single invoice
                payment_means:
                  type: array
                  description: Defines how the invoice will be paid and when payment is due
                  items:
                    $ref: '#/components/schemas/PaymentMeans'
                allowance_charge:
                  type: array
                  description: Defines any discounts (allowance) or extra charges (charge)
                  items:
                    $ref: '#/components/schemas/AllowanceCharge'
                dispatch_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    An optional identifier of a referenced dispatch advice.
                    Refers to the document used to track the dispatch of goods
                receipt_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to a receipt advice associated with a debit
                    note. Links the debit note to a receipt document
                originator_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to an originator document associated with a
                    debit note. Identifies the original document that initiated
                    the debit note
                contract_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to a contract associated with a debit note.
                    Links the debit note to a contract governing the transaction
                additional_document_reference:
                  type: array
                  description: >-
                    A reference to additional documents associated with the
                    debit note. Used as a general reference field for any
                    related documents
                  items:
                    $ref: '#/components/schemas/InvoiceDocumentReference'
                due_date:
                  type: string
                  format: date
                  example: '2025-08-07'
                  description: >-
                    The date on which the debit note is due for payment in the
                    format YYYY-MM-DD
                notes:
                  type: string
                  example: Sample debit note notes
                  description: >-
                    Additional debit note information that is not contained
                    explicitly in other structures
                callback_url:
                  type: string
                  format: uri
                  example: https://example.com/callback
                  description: >-
                    The URL to call when we have new information about the debit
                    note, when the invoice is signed successfully or validation
                    has failed
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - item_code
                      - quantity
                      - unit_price
                      - tax_rate
                    properties:
                      item_code:
                        type: string
                        example: '8000020107057'
                        description: >-
                          A unique product code assigned to the item in the
                          user's system. It will be used as the unique product
                          identifier
                      quantity:
                        type: number
                        format: double
                        example: 1
                        minimum: 0
                        description: The total number of items being debited
                      unit_price:
                        type: number
                        format: double
                        example: 10000
                        minimum: 0
                        description: The unit price of this line item before tax
                      discount_rate:
                        type: number
                        format: double
                        example: 0.05
                        minimum: 0
                        maximum: 1
                        description: >-
                          The discount rate applied to the item. It must be a
                          value between 0 and 1, where 0 means no discount and 1
                          means a 100% discount
                      fee_rate:
                        type: number
                        format: double
                        example: 0.02
                        minimum: 0
                        maximum: 1
                        description: >-
                          The rate of any additional fees (e.g. service charge,
                          delivery fee).  It must be a value between 0 and 1,
                          where 0 means no fee and 1 means a 100% fee on the
                          price
                      tax_rate:
                        type: number
                        format: double
                        example: 0.075
                        minimum: 0
                        maximum: 1
                        description: >-
                          The tax rate applied to the item. It must be a value
                          between 0 and 1. For tax category codes that already
                          have a defined tax rate, this value must match the tax
                          category's tax rate
                      taxable_amount:
                        type: number
                        format: double
                        example: 9700
                        minimum: 0
                        description: >-
                          The amount on which tax is calculated. It must be
                          equal to the line extension amount (unit price *
                          quantity) plus fees minus discounts. This value will
                          be ignored unless the business has the permission to
                          calculate tax
                      tax_amount:
                        type: number
                        format: double
                        example: 727.5
                        minimum: 0
                        description: >-
                          The tax amount for this line item. It must be equal to
                          the taxable amount multiplied by the tax rate. This
                          value will be ignored unless the business has the
                          permission to calculate tax
                      item_description:
                        type: string
                        example: Sample item description
                        description: A brief description of the item being sold
      responses:
        '201':
          description: Debit note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Error'
  /invoice-downloads:
    get:
      tags:
        - Invoice Downloads
      summary: Get FIRS Invoice Downloads
      description: Get FIRS Invoice Downloads
      security:
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A list of FIRS invoice downloads
          content:
            application/json:
              schema:
                type: object
                required:
                  - cursor
                  - data
                properties:
                  cursor:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InvoiceDownload'
        default:
          $ref: '#/components/responses/Error'
  /invoice-downloads/{download_id}:
    get:
      tags:
        - Invoice Downloads
      summary: Get a FIRS Invoice Download
      description: >-
        Retrieves information about an invoice download given their ID on
        DigiTax
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: download_id
          required: true
          schema:
            type: string
            description: Invoice download ID in Digitax
            example: transmission_01JW6DXQ61ZGP2T6QDHSM34SGP
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDownload'
        default:
          $ref: '#/components/responses/Error'
  /invoice-downloads/irn/{invoice_reference_number}:
    get:
      tags:
        - Invoice Downloads
      summary: Get a business invoice download by the invoice reference number
      description: >-
        Retrieves information about an invoice download given their invoice
        reference number on DigiTax
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: invoice_reference_number
          required: true
          schema:
            type: string
            description: The Invoice Reference Number of the invoice download
            example: 2226499116NGE7G-E3A89069-20250601
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDownload'
        default:
          $ref: '#/components/responses/Error'
  /invoice-downloads/{download_id}/confirm:
    get:
      tags:
        - Invoice Downloads
      summary: Confirm a business invoice download's payment status
      description: >-
        Confirms an invoice download's payment status on FIRS given their ID on
        DigiTax
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: download_id
          required: true
          schema:
            type: string
            description: Invoice download ID in Digitax
            example: transmission_01JW6DXQ61ZGP2T6QDHSM34SGP
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDownload'
        default:
          $ref: '#/components/responses/Error'
  /app-invoices:
    post:
      tags:
        - APP Invoices
      summary: >-
        Create Invoice by users who are using DigiTax as their Access Point
        Provider(APP) only
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - irn
                - issue_date
                - invoice_type_code
                - document_currency_code
                - tax_currency_code
                - accounting_supplier_party
                - invoice_line
                - tax_total
                - legal_monetary_total
              properties:
                irn:
                  type: string
                  example: 150835152MSVKRR-E3A89069-20250528
                  description: >-
                    A unique tracking number assigned to each invoice on the
                    FIRS system
                payment_status:
                  type: string
                  example: PENDING
                  enum:
                    - PENDING
                    - REJECTED
                    - PAID
                  description: >-
                    Indicates whether the invoice has been paid or is still
                    pending
                issue_date:
                  type: string
                  format: date
                  example: '2025-09-12'
                  description: >-
                    The date on which this invoice was issued in the format
                    YYYY-MM-DD
                issue_time:
                  type: string
                  example: '17:59:04'
                  format: time
                  description: The time at which the invoice was issued in HH:MM:SS format
                due_date:
                  type: string
                  format: date
                  example: '2025-09-12'
                  description: >-
                    The date on which the invoice is due for payment in the
                    format YYYY-MM-DD
                invoice_type_code:
                  type: string
                  example: '381'
                  description: A code that specifies the type of invoice being issued
                tax_point_date:
                  type: string
                  format: date
                  example: '2025-09-12'
                  description: >-
                    The actual date when the tax becomes applicable in the
                    format YYYY-MM-DD
                document_currency_code:
                  type: string
                  example: NGN
                  description: >-
                    A code that specifies the default currency in which the
                    invoice is issued
                tax_currency_code:
                  type: string
                  example: NGN
                  description: The currency in which tax amounts are calculated
                accounting_cost:
                  type: string
                  example: '2000'
                  description: >-
                    Represents the accounting category or cost center assigned
                    to the transaction
                note:
                  type: string
                  example: Sample invoice notes
                  description: >-
                    Additional invoice information that is not contained
                    explicitly in other structures
                buyer_reference:
                  type: string
                  example: '#INV-001'
                  description: >-
                    A reference number or code provided by the buyer to track
                    the invoice
                order_reference:
                  type: string
                  example: 150835152MSVKRR-E3A89069-20250401
                  description: The order number tied to an invoice
                actual_delivery_date:
                  type: string
                  format: date
                  example: '2025-09-12'
                  description: The date the goods or services were delivered
                payment_terms_note:
                  type: string
                  example: Payment due within 30 days of invoice issue
                  description: Describes the terms and conditions of payment
                invoice_delivery_period:
                  $ref: '#/components/schemas/DeliveryPeriod'
                  description: >-
                    Defines the start and end dates for when goods or services
                    were delivered. This helps track multi-day deliveries on a
                    single invoice
                allowance_charge:
                  type: array
                  description: Defines any discounts (allowance) or extra charges (charge)
                  items:
                    $ref: '#/components/schemas/AllowanceCharge'
                invoice_line:
                  type: array
                  description: >-
                    It captures details about each item or service being
                    invoiced
                  items:
                    $ref: '#/components/schemas/LineItem'
                tax_total:
                  type: array
                  description: The total tax charged on the invoice
                  items:
                    $ref: '#/components/schemas/TaxTotal'
                accounting_customer_party:
                  $ref: '#/components/schemas/APPInvoiceParty'
                  description: The buyer or recipient of the goods or services
                accounting_supplier_party:
                  $ref: '#/components/schemas/APPInvoiceParty'
                  description: The seller or supplier issuing the invoice
                bill_party:
                  $ref: '#/components/schemas/APPInvoiceParty'
                  description: >-
                    If the payment goes to someone else, this field captures
                    that entity's details
                ship_party:
                  $ref: '#/components/schemas/APPInvoiceParty'
                  description: >-
                    If the payment goes to someone else, this field captures
                    that entity's details
                payee_party:
                  $ref: '#/components/schemas/APPInvoiceParty'
                  description: >-
                    If the payment goes to someone else, this field captures
                    that entity's details
                tax_representative_party:
                  $ref: '#/components/schemas/APPInvoiceParty'
                  description: >-
                    If a business has a tax agent handling invoicing and
                    compliance, their details are entered here
                billing_reference:
                  type: array
                  description: >-
                    A list of references to previous billing documents
                    associated with the invoice (e.g., credit notes, debit
                    notes, or prior invoices)
                  items:
                    $ref: '#/components/schemas/InvoiceDocumentReference'
                dispatch_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    An optional identifier of a referenced dispatch advice.
                    Refers to the document used to track the dispatch of goods
                receipt_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to a receipt advice associated with an invoice.
                    Links the invoice to a receipt document
                originator_document_reference:
                  $ref: '#/components/schemas/InvoiceDocumentReference'
                  description: >-
                    A reference to an originator document associated with an
                    invoice. Identifies the original document that initiated the
[...]
